#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_fieldcoin
#build/fieldcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_fieldcoin)

DEB_INSTALL_EXAMPLES_fieldcoind += debian/examples/*
DEB_INSTALL_MANPAGES_fieldcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix fieldcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f fieldcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake fieldcoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_fieldcoin
	src/test_fieldcoin

# Ensure wrapper is set executable
binary-post-install/fieldcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/fieldcoind
binary-post-install/fieldcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/fieldcoin-qt
